recursos/__pycache__/__init__.cpython-310.pyc
recursos/__pycache__/class_cuentas.cpython-310.pyc
recursos/__pycache__/class_parents.cpython-310.pyc
recursos/__pycache__/class_tipos_de_cliente.cpython-310.pyc
recursos/__pycache__/variables.cpython-310.pyc
